.section_skills {
  /* margin-bottom: calc(var(--space) * 10); */
}

.section_skills > div:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--space) * 1);
  justify-content: flex-start;
}

.section_skills > div:nth-child(2) > div {
  padding: calc(var(--space) * 1.5) calc(var(--space) * 2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section_skills > div:nth-child(2) > * {
  flex-grow: 1;
  min-width: 156px;
}

.section_skills > div:nth-child(2) > * {
  flex-grow: 1;
}

.section_skills > div:nth-child(2) > div:first-child {
  border-top-left-radius: var(--radius);
}

.section_skills > div:nth-child(2) > div:nth-child(2) {
  border-top-right-radius: var(--radius);
}

.section_skills > div:nth-child(2) > div:last-child {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

@media (width > 600px) {
  .section_skills > div:nth-child(2) > div:nth-child(2) {
    border-top-right-radius: 0;
  }
  .section_skills > div:nth-child(2) > div:nth-child(3) {
    border-top-right-radius: var(--radius);
  }
  .section_skills > div:nth-child(2) > div:nth-last-child(3) {
    border-bottom-left-radius: var(--radius);
  }
  .section_skills > div:nth-child(2) > div:last-child {
    border-bottom-left-radius: 0;
  }
}

@media (width > 700px) {
  .section_skills > div:nth-child(2) {
    width: 824px;
    margin-inline: auto;
  }

  .section_skills > div:nth-child(2) > * {
    flex-grow: 1;
  }

  .section_skills > div:nth-child(2) > div:first-child {
    border-top-left-radius: var(--radius);
  }

  .section_skills > div:nth-child(2) > div:nth-child(3) {
    border-top-right-radius: 0;
  }
  .section_skills > div:nth-child(2) > div:nth-last-child(3) {
    border-bottom-left-radius: 0;
  }
  .section_skills > div:nth-child(2) > div:nth-child(4) {
    border-top-right-radius: var(--radius);
  }

  .section_skills > div:nth-child(2) > div:last-child {
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
  }
}
