// Mobile
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 5;
  padding: 10px;
  background: linear-gradient(var(--color-body-background), 90%, #ffffff00);
}
.dark .header {
  background: linear-gradient(var(--color-body-background), 90%, #02021c00);
}

.fade-out {
  animation: top_bar_appear 1s;
}

.scrollY {
  height: 48px;
  animation: scrollY 300ms;
}

.blur {
  background: #ffffffb6;
  backdrop-filter: blur(5px);
}

.dark .blur {
  background: #02021ccf;
}

.header nav {
  display: none;
}

.header nav.active {
  display: block;
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: calc(var(--space) * 10);
  z-index: 6;
  color: var(--color-white);
  text-align: center;
  height: calc(100vh + 200px);
}

.header nav ul {
  position: relative;
}

.header nav ul li {
  margin-block: calc(var(--space) * 2);
  position: relative;
  // right: -100%;
  // opacity: 0;
}

.header nav ul li:hover a,
.header nav ul li.active a {
  position: relative;
}

.header nav ul li:hover a::before,
.header nav ul li.active a::before {
  content: "";
  position: absolute;
  width: calc(100% - 10px);
  height: 1px;
  background: var(--color-text-black-2);
  left: 5px;
  top: 100%;
  animation: hover_link 500ms linear;
}

.logo ~ span {
  margin-left: calc(var(--space) * 1);
  cursor: pointer;
}

.hover {
  position: relative;
  display: inline-block;
  width: max-content;
  aspect-ratio: 1;
}

.hover:hover::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.156);
  height: calc(var(--space) * 4);
  aspect-ratio: 1;
  top: 50%;
  left: -30%;
  transform: translate(0%, -50%);
}

.logo ~ span svg {
  margin-bottom: calc(var(--space) * -0.4);
}

.burger__wrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: 24px;
}

.burger {
  height: 4px;
  width: 36px;
  background: var(--color-black-1);
  position: relative;
  z-index: 1;
  animation: grow 400ms 500ms linear;
}

.burger::before {
  position: absolute;
  content: "";
  width: 36px;
  height: 4px;
  top: -10px;
  right: 0;
  background: var(--color-black-1);
  animation: grow 200ms 500ms linear;
}

.burger::after {
  position: absolute;
  content: "";
  width: 36px;
  height: 4px;
  top: 10px;
  right: 0;
  background: var(--color-black-1);
  animation: grow 500ms 500ms linear;
}

#moon {
  animation: moon_animation 500ms 500ms linear;
}

#sun {
  animation: sun_animation 500ms 500ms linear;
}

// Desktop

@media (width > 745px) {
  .burger__wrapper {
    display: none;
  }

  .header nav {
    display: block;
  }

  .header nav ul {
    display: flex;
    gap: calc(var(--space) * 5);
  }
}

@media (width > 912px) {
  .header {
    padding-inline: calc((100% - var(--max-width)) * 0.5 + var(--space) * 1);
  }
}

// Animation

@keyframes scrollY {
  0% {
    height: 108px;
  }

  100% {
    height: 48px;
  }
}

@keyframes top_bar_appear {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hover_link {
  from {
    width: 0%;
  }

  to {
    width: calc(100% - 10px);
  }
}

@keyframes moon_animation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes sun_animation {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(30deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes grow {
  0% {
    width: 0px;
  }
  100% {
    width: 36px;
  }
}

