.section__about {
  margin-top: calc(var(--space) * 4);
}

.section__about div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section__about>div,
.section__about>div>div,
.section__about>div>div>div,
.section__about>div>div>p {
  margin-bottom: calc(var(--space) * 3);
}

.section__about>div:nth-child(2)>div:nth-child(2)>div {
  flex-direction: row;
  gap: calc(var(--space) * 3);
  flex-wrap: wrap;
}

.section__about>div:nth-child(2)>div:nth-child(2)>div div {
  padding: calc(var(--space) * 2) calc(var(--space) * 2.5);
  height: 103px;
  width: 124px;
}

.section__about>div:nth-child(2)>div:nth-child(2)>div div:nth-child(1) {
  /* animation: stack_from_right 1S; */
}
.section__about>div:nth-child(2)>div:nth-child(2)>div div:nth-child(2) {
  /* animation: stack_from_right 1S 1s; */
}
.section__about>div:nth-child(2)>div:nth-child(2)>div div:nth-child(3) {
  /* animation: stack_from_right 1S 2s; */
}

@keyframes stack_from_right {
  0% {
  visibility: visible;
    transform: translateX(100%);
    opacity: 0;
    /* position: absolute; */
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (width > 765px) {
  .section__about {
    margin-top: calc(var(--space) * 7);
  }

  .section__about>div:nth-child(1) {
    margin-bottom: calc(var(--space) * 8);
  }

  .section__about>div:nth-child(2) {
    flex-direction: row;
    align-items: flex-start;
    gap: calc(var(--space) * 4);
  }

  .section__about>div:nth-child(2)>div:nth-child(2)>div {
    gap: calc(var(--space) * 2);

  }
}

@media (width > 930px) {
  .section__about>div:nth-child(2) {
    gap: calc(var(--space) * 8);
  }

  .section__about>div:nth-child(2)>div:nth-child(2)>div {
    gap: calc(var(--space) * 6);
    flex-wrap: nowrap;

  }
}