.section__intro .logo {
  font-size: 56px;
}

.section__intro {
  margin-bottom: calc(var(--space) * 5);
  /* overflow: hidden; */
  position: relative;
}

.section__intro div:nth-child(1) {
  animation: appear_from_left 1s;
}
.section__intro div:nth-child(2) {
  animation: appear_from_right 1.5s;
}
.section__intro div:nth-child(2) img {
  width: 325px;
}
@keyframes appear_from_left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
    /* position: absolute; */
  }100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes appear_from_right {
  0% {
    transform: translateX(100%);
    /* position: absolute; */
    right: 0;
    opacity: 0;
  }100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.section__intro div:nth-child(1) div:nth-child(2) hr {
  width: 80px;
  height: 1px;
  background: var(--color-black-1);
  display: inline-block;
  margin-right: calc(var(--space) * 1.5);
  margin-bottom: 3px;
}

.section__intro div:nth-child(1) > * {
  margin-bottom: calc(var(--space) * 3);
}

.section__intro div:nth-child(1) > *:nth-child(3),
.section__intro div:nth-child(1) > *:nth-child(4) {
  margin-bottom: calc(var(--space) * 6);
}

.section__intro div:nth-child(1) > *:nth-child(3) > * {
  margin-bottom: calc(var(--space));
}

.section__intro > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (width >= 768px) {
  .section__intro {
    /* display: flex; */
    justify-content: space-between;
    margin-bottom: calc(var(--space) * 7);
    align-items: flex-start;
  }
  .section__intro > div:nth-child(1) {
    /* width: 390px; */
    align-items: flex-start;
  }
  .section__intro > div:nth-child(2) {
    /* float: right; */
    position: absolute;
    top: 0px;
    right: 0;
  }
  .section__intro div:nth-child(1) > *:nth-child(3) > *:nth-child(1) {
    max-width: calc(100% - 325px);
  }
}